<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
        <meta http-equiv="content-language" content="en">
  <meta charset="UTF-8">
  	    <meta property="og:type" content="website">
	    <meta property="og:title" content="Custom | Home">
	    <meta property="og:description" content="Hello there This website is made by Custom">
	    <meta property="og:image" content="img/logo.png">
	    <meta name="theme-color" content="#F1EC40">
      <title>Custom | Home</title>
      
      <!--Fabicom-->
      <link rel="icon" href="img/logo.png" type="image/icon">

      <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
      <link rel="icon" href="img/logo.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://chinmay.ml/script.js"></script>
      <script async src="https://arc.io/widget.min.js#8ewL2JEm"></script>
      <script data-ad-client="ca-pub-1947137403329792" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  </head>
    <body>
	  
        <div class="container">
	  
		<!--────────────────Header───────────────-->
	<header>
		<a class="logo" href="https://Cu3t0m.repl.co/#home">
              <img src="https://Cu3t0m.repl.co/img/logo.png" alt="syze logo" />
		</a>
		<nav>	
		 <ul class="nav-bar"><div class="bg"></div>
			<li><a class="nav-link active" href="https://Cu3t0m.repl.co/#home">Home</a></li>
			<li><a class="nav-link" href="https://Cu3t0m.repl.co/contact">Contact</a></li>
		 </ul>
			
			<div class="hamburger">
				<div class="line1"></div>
            <div class=https://Cu3t0m.repl.co/"line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>
	<main>
		<!--─────────────────Home────────────────-->
	  <div id="home">
		 <div class="filter"></div>
		 <section class="intro">
		  <h3>Custom<hr></h3>

      <p>Hi i am <span class="type"></span></p>

 <script>     
var typed = new Typed('.type', {
  strings: 
  ["a Developer",
   "Cool.",
   "Handsome.",
   "not a beginner.",
   "a Very nice guy"
   ],
  typeSpeed: 60,
  backSpeed: 60,
  loop: true,
});
</script>
          <p>Heyy! I am Custom, a frontend developer and currently learning java and ruby :D</p>


		  <!--────social media links─────-->
			 
		  <div class="social-media">
        <a href="https://twitter.com/Customjha_" target="_blank"><i class='fab fa-twitter'></i></a>
			  <a href="https://github.com/Cu3t0m" target="_blank"><i class='fab fa-github'></i></a>
        <a href="https://www.youtube.com/channel/UCA6QqgzqeobRnogJFVyy5Yw"target="_blank"><i class="fab fa-youtube"></i>
       <a href="Custom#8833"target="_blank"><i class="fab fa-discord"></i>
            <a target="_blank" rel="noopener" href="mailto:diwanmohamedfaheer@gmail.com" class="button is-dark has-text-white"><span class="icon hicon"><i class="fas fa-envelope"></i></span></a> 
		    </div>
		 </section> 

	</main>

  
<footer class="copyright">© 2021 
		  <a href="/home" target="_blank"> Custom</a>
     </footer>
	  
  </div>
  </body>
</html>
